body {
    background-image: url('/imgs/fundo.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 52vh;
    background-position: center;
}

.ok {
    width: 200px;
    height: 20px;
    outline: 0;
    align-items: center;
    margin: 7% 30% 10% 42%;
}

input:focus {
    color: chartreuse;
}

input {
    font-size: 17px;
    font-weight: 200;
    border-radius: 7px;
}

.botaoEnvio {
    width: auto;
    border-radius: 8px;
    margin-left: 50%;
    margin-top: 10%;
}

.foto {
    position: absolute;
    top: 0;
}

.TextoFoto {
    font-size: 28px;
    margin-left: 15px;
    text-decoration-line: underline;
}
